<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/_head.ejs') %>
        <link rel="stylesheet" href="css/e-moto.css">
        <title>E-MOTO</title>
</head>

<body>
    <%- include('partials/_nav.ejs') %>

        <!-- <img class="img-container" src="images/motos/e-moto-img.jpg" alt=""> -->

        <div class="contenedor animate__animated animate__fadeIn">
            <img class="img-container" src="images/motos/e-moto-img.jpg" alt="">
            <div class="texto-centrado-izquierda">
                Texto izquierda
            </div>
            <div class="texto-centrado-derecha">
                Textp derecha
            </div>
        </div>

        <!-- <div class="container-fluid">
            <div class="row">
                <img class="img-container" src="images/motos/e-moto-img.jpg" alt="">
            </div>
        </div> -->



        <%- include('partials/_footer.ejs') %>
</body>

</html>