.img-center {
  width: 98vw;
  height: auto;
}

.card {
  border: none;
}

/* Maneja de textos sobre la imagen centrada */
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-centrado {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(43, 42, 42);
  font-family: cursive;
  font-size: 60px;
  border-radius: 10px;
}
/* Usar MediaQueries para cambiar el tamaño del texto */
