/* Las cards vienen con un stye pre definido -> style="width: 18rem;"
    para poder manipular las cards lo quitare de las etiquetas y lo trabajare aca. 
*/
.card {
    border: none;
    width: 15rem;
    justify-content: center;
    margin-top: 5px;
}

.card:hover {
    box-shadow: 15px 10px 10px 10px rgba(0, 0, 0, 0.74);
    border-radius: 15px;
    transition: 1000ms;
}

