<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/_head.ejs') %>
    <link rel="stylesheet" href="css/err404.css">
        <title>ERROR 404</title>
</head>

<body>
    <%- include('../partials/_nav.ejs') %>

        <div class="container-fluid">
            <div class="row">
                <main class="index">

                    <header class="masterhead d-flex">
                        <div class="container text-center my-auto">
                            <h1 class="mb-1">ERROR 404</h1>
                            <a href="/" class="btn btn-danger">
                                Ups no se encontro... prueba volver al inicio
                            </a>
                        </div>
                    </header>
                </main>
            </div>




            <%- include('../partials/_footer.ejs') %>
</body>

</html>