<table style="width:100%">
    <tr>
        <th>CHAR</th>
        <th>VARCHAR</th>
    </tr>
    <tr>
        <td class="char">Velocidad</td>
        <td class="varchar">Hasta 54km/hr</td>
    </tr>
    <tr>
        <td class="char">Autonimía</td>
        <td class="varchar">65-90 KM</td>
    </tr>
    <tr>
        <td class="char">Consumo por carga</td>
        <td class="varchar">$160 pesos aprox.</td>
    </tr>
    <tr>
        <td class="char">Potencia</td>
        <td class="varchar">2000W</td>
    </tr>
    <tr>
        <td class="char">Capacidad de carga</td>
        <td class="varchar">150 kg</td>
    </tr>
    <tr>
        <td class="char">Tiempo de carga</td>
        <td class="varchar">6-8 horas</td>
    </tr>
    <tr>
        <td class="char">Alimentación</td>
        <td class="varchar">220V</td>
    </tr>
    <tr>
        <td class="char">Tipo de transmisión</td>
        <td class="varchar">motor eléctrico</td>
    </tr>
    <tr>
        <td class="char">Batería</td>
        <td class="varchar">60V 20AH litio x 2</td>
    </tr>
    <tr>
        <td class="char">Peso de la moto</td>
        <td class="varchar">105 kg</td>
    </tr>
    <tr>
        <td class="char">Tipo suspensión</td>
        <td class="varchar">amortiguadores de alta absorción</td>
    </tr>
    <tr>
        <td class="char">Tipo motor</td>
        <td class="varchar">1500w, brushless libre de mantenimiento</td>
    </tr>
    <tr>
        <td class="char">Ciclo de batería</td>
        <td class="varchar">900 ciclos conservando más del 80% de su capacidad</td>
    </tr>
    <tr>
        <td class="char">Torque del motor</td>
        <td class="varchar">5.2Nm</td>
    </tr>
    <tr>
        <td class="char">Tipo de freno</td>
        <td class="varchar">frenos de disco</td>
    </tr>
    <tr>
        <td class="char">Velocidad variable</td>
        <td class="varchar">3-tipos</td>
    </tr>
</table>